%ul.nav.nav-tabs
	%li
		= link_to '<i class="icon-th-list"> Articulos</i>'.html_safe, articulos_path
	%li
		= link_to '<i class="icon-shopping-cart"> Pedidos</i>'.html_safe, pedidos_path
	%li.active
		= link_to '<i class="icon-random"> Devoluciones</i>'.html_safe, devolucions_path