.hero-unit	
	%h2
		%center
			%i.icon-book
			Directorio de Proveedores
%br

%table.table.table-bordered#proveedores
	%thead
		%tr
			%th Rif
			%th Nombre
			%th Direccion
			%th Telefono
			%th Email
	%tbody
		- @proveedores.each do |proveedor|
			%tr
				%td 
					=proveedor.rif
				%td 
					%i.icon-th-large
					=proveedor.nombre
				%td
					%i.icon-map-marker
					=proveedor.direccion
				%td 				
					%i.icon-home
					=proveedor.telefono
				%td 
					%i.icon-globe
					=proveedor.email


:javascript

	$('#proveedores').dataTable({
		"oLanguage": {
			"sProcessing": "Procesando...",
			"sLengthMenu": "Mostrar _MENU_ registros",
			"sZeroRecords": "No se encontraron resultados",
			"sEmptyTable": "Ningún dato disponible en esta tabla",
			"sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
			"sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
			"sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
			"sInfoPostFix": "",
			"sSearch": "Buscar:",
			"sUrl": "",
			"sInfoThousands": ",",
			"sLoadingRecords": "Cargando...",
			"oPaginate": {
				"sFirst": "Primero",
				"sLast": "Último",
				"sNext": "Siguiente",
				"sPrevious": "Anterior"
			},
			"oAria": {
				"sSortAscending": ": Activar para ordenar la columna de manera ascendente",
				"sSortDescending": ": Activar para ordenar la columna de manera descendente"
			}
		},
		"sDom": "<'row-fluid'<'span12'f>r>t<'row-fluid'<'span12'p>>",
		"sPaginationType": "bootstrap"
	});
