.hero-unit	
	%h2
		%center
			%i.icon-random
			="Devoluciones del Pedido ##{@pedido.id}"
%br 
%table.table.table-bordered.articulos
	%thead
		%tr
			%th Imagen
			%th Codigo
			%th Nombre
			%th Cantidad del pedido
			%th Fecha de realización
	%tbody
		- @pedido.obtener_devoluciones.order("articulo_id asc").each do |devolucion|
			%tr
				%td 
					=image_tag "/#{devolucion.obtener_articulo.foto.store_dir}/thumb_#{devolucion.obtener_articulo.foto_identifier}"
				%td 
					=devolucion.obtener_articulo.codigo
				%td 
					=devolucion.obtener_articulo.nombre
				%td
					=devolucion.cantidad
				%td
					=devolucion.created_at.strftime("%Y-%m-%d")						
					
:javascript
	(function() {
		jQuery(function() {
			return $('.articulos').dataTable({
				"oLanguage": {
					"sProcessing": "Procesando...",
					"sLengthMenu": "Mostrar _MENU_ registros",
					"sZeroRecords": "No se encontraron resultados",
					"sEmptyTable": "Ningún dato disponible en esta tabla",
					"sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
					"sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
					"sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
					"sInfoPostFix": "",
					"sSearch": "<i class='icon-search'></i>",
					"sUrl": "",
					"sInfoThousands": ",",
					"sLoadingRecords": "Cargando...",
					"oPaginate": {
						"sFirst": "Primero",
						"sLast": "Último",
						"sNext": "Siguiente",
						"sPrevious": "Anterior"
					},
					"oAria": {
						"sSortAscending": ": Activar para ordenar la columna de manera ascendente",
						"sSortDescending": ": Activar para ordenar la columna de manera descendente"
					}
				},
				"sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
				"sPaginationType": "bootstrap"
			});
		});
	}).call(this);