.modal-footer	
	%h2
		%center
			Nuevo Pedido
%br
%center
	%h4
		Datos del Empleado
%hr
.row
	.span9
		.span2
			%b
				Cedula: 
			%input{:class=>'formPedido',:id=>"cedulaEmpleado", :readonly=>"readonly"}
		.span2
			%b
				Nombre:
			%input{:class=>'formPedido',:id=>"nombreEmpleado", :readonly=>"readonly"}
		.span2
			%b
				Apellido:
			%input{:class=>'formPedido',:id=>"apellidoEmpleado", :readonly=>"readonly"}
		.span2
			%a.btn.btn-info{:id=>"buscarEmpleado","data-toggle" => "modal", :href => "#EmpleadosModal", :role => "button"}
				Buscar
.row
	.span9
		.span2
			%b
				Cargo: 
			%input{:class=>'formPedido',:id=>"cargoEmpleado", :readonly=>"readonly"}
		.span2
			%b
				Telefono:
			%input{:class=>'formPedido',:id=>"telefonoEmpleado", :readonly=>"readonly"}
		.span2
			%b
				Obra:
			%input{:class=>'formPedido',:id=>"obraEmpleado", :readonly=>"readonly"}
		
%hr
%center
	%h4
		Lista de Articulos
%hr
.row
	.span4
		%table.table.table-bordered.tablaEstandar
			%thead
				%tr
					%th Codigo
					%th Nombre
					%th Cantidad
					%th Acciones
			%tbody
				- @articulos.each do |articulo|
					%tr
						%td
							=articulo.codigo
						%td 
							=articulo.nombre
						- if articulo.advertencia_stock == 1
							%th{:style=>"background: #82FA58;"}
								=articulo.cantidad
								=articulo.unidad_de_medida
						- elsif articulo.advertencia_stock == 2
							%th{:style=>"background: #FA5858;"}
								=articulo.cantidad
								=articulo.unidad_de_medida
						- else
							%th{:style=>"background: #F4FA58;"}
								=articulo.cantidad
								=articulo.unidad_de_medida
						%td
							=link_to_function "+", "agregar('#{articulo.codigo}', '/agregar/articulo/')", class:"btn btn-success", remote: true
	.span4
		%table.table.table-bordered#articulosAgregado
			%thead
				%tr
					%th Codigo
					%th Nombre
					%th Cantidad
					%th Acciones
			%tbody.agregar
				%tr#anuncio
					%th{:colspan=>"4"}
						%center
							No hay articulos en la lista

%br
%br		
.modal-footer	
	=link_to("Guardar", "#", html_options = {:class=>"btn btn-primary"})
	=link_to("Volver", "/pedidos/", html_options = {:class=>"btn"})

	#EmpleadosModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
		.modal-header
			%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
			%h3#myModalLabel Buscar Empleado
		.modal-body
			%table.table.table-striped.tablaEstandar
				%thead
					%tr
						%th C.I
						%th Nombre
						%th Apellido
						%th Cargo
						%th Control
				%tbody
					- @empleados.each do |empleado|
						%tr
							%td
								=empleado.cedula
							%td 
								=empleado.nombre
							%td 
								=empleado.apellido
							%td 
								=empleado.cargo
							%td
								=link_to_function "+", "agregar('#{empleado.cedula}', '/agregar/empleado/')", class:"btn btn-success", remote: true
		.modal-footer

:javascript

	function agregar(id, ruta) {
		$('#anuncio').remove()
		$.get(ruta+id)
	}	





