/*
  Customize RailsAdmin theme here.
  Copy this file to your app/assets/stylesheets/rails_admin/custom/theming.css.scss, leave this one untouched
  Don't require it in your application.rb

  Look at the markup in RailsAdmin and go there to get inspiration from:

  http://twitter.github.com/bootstrap/

  Test me: (actual color should be the one defined in variables.css.scss if you did)

  body{ background-color: $linkColor; }
*/

.dataTables_paginate {
	text-align: center;
}


#div-tabla-articulos .row-fluid .span12 {
	padding-top: 10px;
	padding-left: 5px;
	padding-bottom: 5px;
	padding-right: 0px;
}

#factura_cantidad_field {
	padding-right: 50px;
}


#input_cantidad {
	padding-top: 4px;
	padding-left: 6px;
	width: 70px;
}

#id-factura {
	display: none;
}