.modal-footer	
	%h2
		%p		
			%center
				Ficha de Articulo			
%br
%center
	%ul.thumbnails
		%li.span4
			.thumbnail#thumbnailArticulo
				.fotoArticulo					
					=image_tag "/#{@articulo.foto.store_dir}/detalle_#{@articulo.foto_identifier}"
		%li.span4
			%h3
				=@articulo.nombre
			.datosArticulo
				%table.table.table-striped 
					%tbody
						%tr
							%th
								Descripción: 
							%th
								=@articulo.descripcion
						%tr
							%th
								Cantidad:
							%th
								=@articulo.cantidad
								=@articulo.unidad_de_medida
						%tr
							%th
								Familia: 
							%th
								=@articulo.familia.nombre
						%tr
							%th
								Ubicacion: 
							%th
								=@articulo.ubicacion.nombre
						%tr
							%th
								Stock Maximo: 
							%th
								=@articulo.stock_maximo
						%tr
							%th
								Stock Minimo: 
							%th
								=@articulo.stock_minimo
.modal-footer	
	=link_to("Volver", articulos_path, html_options = {:class=>"btn", :id=>"volver", :title=>"Volver Atras"})

