.modal-footer
	=link_to('<i class="icon-chevron-left"></i> Atrás '.html_safe, articulos_path, html_options = {:class=>"btn", :id=>"volver", :title=>"Volver Atras"})			
.modal-footer
	%h2
		%p		
			%center
				Ficha del Articulo.
%br
%center
	%ul.thumbnails#verArticulo
		%li.span7
			.thumbnail#thumbnailArticulo
				.fotoArticulo					
					=image_tag "/#{@articulo.foto.store_dir}/detalle_#{@articulo.foto_identifier}"
		%li.span4
			%h3
				=@articulo.nombre				
			.datosArticulo
				%table.table.table-striped 
					%tbody
						%tr
							%th
								Descripción: 
							%th
								=@articulo.descripcion
						%tr
							%th
								Cantidad:
							%th
								=@articulo.cantidad
								=@articulo.unidad_de_medida
						%tr
							%th
								Familia: 
							%th
								=@articulo.familia.nombre
						%tr
							%th
								Ubicacion: 
							%th
								=@articulo.ubicacion.nombre
						%tr
							%th
								Stock Maximo: 
							%th
								=@articulo.stock_maximo
						%tr
							%th
								Stock Minimo: 
							%th
								=@articulo.stock_minimo
						%tr
							%th
								Consumible: 
							%th
								-if @articulo.consumible
									.span.badge.badge-success
										%i.icon-ok
								-else
									.span.badge.badge-inverse
										%i.icon-minus
						%tr
							%th
								Estado: 
							%th
								- if @articulo.advertencia_stock == 1
									.span.label.label-success
										%i.icon-ok-sign
										Aceptable!						
								- elsif @articulo.advertencia_stock == 2										
									.span.label.label-important
										%i.icon-circle-arrow-down
										Escaso!	
								- else
									.span.label.label-warning
										%i.icon-circle-arrow-up
										Excedido!

.modal-footer	
	

